//
// HEADER - BLOCK -- search
//

#header {

    .block-search {

        & > h2 {
            display: none;
        }

        margin: 0;
        vertical-align: middle;

        form,
        div,
        input,
        span {
            margin: 0;
            padding: 0;
        }
    
        form {
            display: flex;
        }

        @media (max-width: $screen-sm-max) {

            margin-bottom: 50px;
            width: 100%;

            .close-search {
                display: none;
            }

            form {

                .form-item {
                    flex: 3;

                    input.form-search {
                        padding: 0 12px;
                        width: calc(100% - 24px);
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        height: 50px;
                    }

                }
                .form-actions {
                    flex: 1;

                    input.form-submit {
                        width: 100%;
                        height: 52px;
                        background: $primary-dark-color;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                }

            }
        
        }
    
        @media (min-width: $screen-md-min) {
    
            display: flex;

            .close-search {
                cursor: pointer;
                height: 40px;
                width: 40px;
                display: inline-block;
                overflow: hidden;
                background: url('../images/search-black.svg') no-repeat 50% 50%;
                background-size: 30px 30px;
                text-indent: 100px;
                margin-left: 10px;
            }

            .form-search {
                height: 40px;
                width: 0px;
                visibility: hidden;
                padding: 0 12px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
    
            .form-submit {
                height: 42px;
                padding: 0 12px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-actions {
                display: none;
            }
    
        }

        &.open {

            @media (min-width: $screen-md-min) {
    
                .close-search {
                    background: url('../images/search-close.svg') no-repeat 50% 50%;
                }

                .form-search {
                    width: 250px;
                    transition: all 0.5s;
                    visibility: visible;
                }
        
                .form-actions {
                    display: block;
                }
        
            }
        
        }

    }

}