// 
// HEADER -- region header menu
// 

#header {

    .region-header-menu {

        @media (max-width: $screen-sm-max) {

        }

        @media (min-width: $screen-md-min) {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;

            .block-menu {
                margin-left: 3rem;
        
                & > h2 {
                    display: none;
                }
        
                ul.menu {
                    display: flex;
        
                    li {
                        border-right: 1px solid #F6F6F6;
                        
                        &:last-child {
                            border-right: 0;
                        }

                        a {
                            padding: 12px 20px;
                            display: block;
                        }
        
                        &.menu-item--active-trail {
        
                            a {
                                font-weight: bold;
                            }
            
                        }

                        li {
                            display: none;
                        }
        
                    }
        
                }
        
            }

        }

    }

}