// 
// HEADER -- region header search
// 

#header {

    .region-header-search {

        @media (max-width: $screen-sm-max) {

        }

        @media (min-width: $screen-md-min) {
            position: absolute;
            bottom: 25px;
            right: 0;
            display: flex;
        }

    }

}