//
// HEADER - BLOCK -- branding
//

#header {

    .block-system-branding-block {

        @media (max-width: $screen-sm-max) {
    
            & {
                display: none;
            }
        
        }
    
        @media (min-width: $screen-md-min) {
    
            & {
                margin: 0 auto 0 0;

                a.logo {
                    display: inline-block;
                    padding: 25px 0px 25px 0px;
                    text-decoration: none;
    
                    .image {
                        display: inline-block;
                        padding-right: 8px;
                        vertical-align: top;
        
                        img {
                            width: 72px;
                            height: auto;
                        }
            
                    }
        
                    .title {
                        display: inline-block;
                        vertical-align: top;
        
                        .site-name {
                            display: block;
                            font-size: 3rem;
                            color: $black;
                            padding-top: 8px;
                            padding-bottom: 2px;
                        }
                        .site-slogan {
                            display: block;
                            font-size: 15px;
                            color: $black;
                        }
                        
                    }
    
                }

            }

        }
    
    }

}
