// 
// HERO -- node intro
// 

#hero {

    .node--type-intro {
        position: relative;
        height: 500px;
        overflow: hidden;
        background-color: darken($primary-color, 12%);
        
        // image
        picture {   
            display: flex;
            justify-content: center;

            img {
                height: 500px;
                width: auto;
                max-width: none !important;
            }
    
        }
        
        .content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;

            @media (max-width: $screen-sm-max) {
                top: auto;
                bottom: 90px;
                border-bottom: 1px solid $white;
                margin: 0 !important;
                padding-bottom: 5rem;
            }

            h2.title {
                position: relative;
                transition: all 1s;
                transition-delay: 0.2s;  
                top: 50px;
                opacity: 0;
                padding: 0;
                margin: 0 0 10px 0;
                font-size: 6rem;
                font-weight: 600;
                letter-spacing: 0em;
                line-height: 110%;
                color: #FFFFFF;
                text-align: left !important;
            } 
            .field--name-field-intro-text {

                p {
                    position: relative;  
                    transition: all 0.5s;
                    transition-delay: 0.5s;  
                    top: 40px;
                    opacity: 0;
                    padding: 0;
                    margin: 15px 0 0 0 !important;
                    font-size: 2.8rem;
                    font-weight: 400;
                    letter-spacing: .015em;
                    line-height: 130%;
                    text-transform: none;
                    color: #FFFFFF;
                    text-align: left !important;
                }

            }

            // link
            .field--name-field-intro-link a {
                background-color: $primary-color;
                color: #FFFFFF;
                display: inline-block;
                padding: 15px 25px;
                position: relative;
                transition: all 0.5s;
                transition-delay: 0.8s;  
                top: 30px;
                opacity: 0;
                margin-top: 2rem;
            }

            @media (max-width: $screen-md-max) {
                margin-top: 40px;

                h2.title {
                    font-size: 3.5rem;
                } 
                .field--name-field-intro-text {
    
                    p {
                        font-size: 2rem;
                    }

                }

            }

            @media (min-width: $screen-md-min) {
                margin-top: 100px;
            }

        }
        
    }

    // active
    .owl-item.active .node--type-intro h2.title {
        top: 0px;
        opacity: 1;
    }  
    .owl-item.active .node--type-intro .field--name-field-intro-text p {
        top: 0px;
        opacity: 1;
    }
    .owl-item.active .node--type-intro .field--name-field-intro-link a {
        top: 0px;
        opacity: 1;
    }

    // disabled
    .owl-carousel.disabled .node--type-intro .text h2 {
        top: 0px;
        opacity: 1;
    }  
    .owl-carousel.disabled .node--type-intro .field--name-field-intro-text p {
        top: 0px;
        opacity: 1;
    }
    .owl-carousel.disabled .node--type-intro .field--name-field-intro-link a {
        top: 0px;
        opacity: 1;
    }

}