//
// frontpage
//

body.path-frontpage {
    
    #hero {
        padding: 0;
        height: 500px;
    }

    #center {
        padding: 4rem 0 1rem 0;

        @media (min-width: $screen-md-min) {
            padding: 8rem 0 8rem 0;
        }

        .region-center {
            margin: 0;

            #main {
                width: 100%;
            }

        }

    }

}