@charset "UTF-8";
/* box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* focus */
*:focus {
  outline: 0;
}

/* background */
.bg-white {
  background: #FFFFFF;
}

.bg-black {
  background: #000000;
}

.bg-primary {
  background: #0678be;
}

.bg-primary-dark {
  background: #04598d;
}

/* text */
.text-white {
  color: #FFFFFF;
}

.text-black {
  color: #000000;
}

.text-primary {
  color: #0678be;
}

.text-primary-dark {
  color: #04598d;
}

audio {
  background: #000000;
}

@media (max-width: 450px) {
  audio {
    width: 100% !important;
  }
}
blockquote {
  margin: 0 0 1.6rem 0;
}

blockquote p {
  background: #EEEEEE;
  padding: 1.5rem;
  margin: 0;
}

blockquote p:before {
  color: #DDDDDD;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
  font-family: georgia, times, sans;
}

blockquote p:after {
  color: #DDDDDD;
  content: "”";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.55em;
  margin-left: 0.1em;
  font-family: georgia, times, sans;
}

body {
  color: #353535;
  font-size: 1.8rem;
}
@media (max-width: 991px) {
  body {
    font-size: 1.6rem;
  }
}

input,
select,
textarea {
  width: 100%;
  background: #fff;
  color: #595959;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.5;
  outline: none;
  padding: 0rem 1.3rem 0rem 1.3rem;
  transition: 0.18s ease-out;
  vertical-align: bottom;
  height: 40px;
}

input[type=checkbox],
input[type=radio],
input[type=file] {
  width: auto;
}

input[type=reset],
input[type=submit] {
  width: auto;
  background: #0678be;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid transparent;
}

input:hover,
select:hover,
textarea:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

input[type=reset]:hover,
input[type=submit]:hover {
  background: #04598d;
}

input:focus,
textarea:focus,
select:focus {
  color: #000000;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

hr {
  clear: both;
  margin: 1.6rem 0;
  border: 1px solid #353535;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a {
  color: #0678be;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  margin: 0 0 1.6rem 0;
  padding: 0.2rem 0 0.2rem 1.5rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

ul li, ol li {
  list-style-position: outside;
  margin: 0.6rem 0 0.6rem 0;
  line-height: 1.5;
}

p {
  margin: 0 0 1.8rem 0;
  line-height: 1.5;
}

table {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-collapse: collapse;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid #353535;
  border-top: 1px solid #353535;
}

caption {
  padding: 10px 15px;
  border-right: 1px solid #353535;
  border-bottom: 0;
  border-left: 1px solid #353535;
  border-top: 1px solid #353535;
  text-align: left;
  font-weight: bold;
}

th {
  padding: 10px 15px;
  background: #EEEEEE;
  border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;
  border-left: 0;
  border-top: 0;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 10px 15px;
  border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;
  border-left: 0;
  border-top: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.1;
}
@media (max-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  padding: 1.6rem 0 0 0;
  margin: 0 0 0.8rem 0;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.1;
  color: #0678be;
}
@media (max-width: 991px) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  padding: 1.6rem 0 0 0;
  margin: 0 0 0.8rem 0;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.1;
  color: #000000;
}

h4 {
  padding: 1.6rem 0 0 0;
  margin: 0 0 0.8rem 0;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  color: #000000;
}

h5 {
  padding: 1.6rem 0 0 0;
  margin: 0 0 0.8rem 0;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.1;
  color: #000000;
}

h6 {
  padding: 1.6rem 0 0 0;
  margin: 0 0 0.8rem 0;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.1;
}

video {
  background: #000000;
}

@media (max-width: 450px) {
  video {
    width: 100% !important;
  }
}
.block {
  margin: 0 0 0 0;
}
.block > h2 {
  padding: 0;
}

.field {
  margin-bottom: 1.3rem;
}
.field.field--label-above .field__label {
  display: block;
  margin-bottom: 0.6rem;
}

.form-item {
  margin-bottom: 3rem;
}

.form-item label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.form-item .description {
  padding: 10px 0 0 0;
  line-height: 1.5;
  color: #454545;
  font-size: 1.3rem;
}

.form-item .form-type-checkbox,
.form-item .form-type-radio {
  margin: 0.8rem 0;
}

.form-type-checkbox label,
.form-type-radio label {
  margin-bottom: 0;
  font-weight: normal;
}

.form-actions {
  margin-bottom: 3rem;
}

.layout {
  margin: 0 0 3rem 0;
}
.layout .block {
  margin: 0 0 6rem 0;
}
.layout .block > h2 {
  font-size: 2.6rem;
  font-weight: bold;
}
.layout .block > .field {
  margin: 0;
}
.layout .block:last-child {
  margin: 0 0 0 0;
}
@media (max-width: 991px) {
  .layout {
    display: block;
  }
}
@media (min-width: 992px) {
  .layout {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .layout .layout__region {
    padding: 0 2rem;
  }
  .layout .layout__region .block {
    margin: 0;
  }
}
.layout.invert {
  background-color: #0678be;
  color: #FFFFFF;
  padding: 3.5rem 3rem 2rem 3rem;
  margin: 0 0 4rem 0;
}
.layout.invert .block {
  margin: 0 0 6rem 0;
}
.layout.invert .block > h2 {
  color: #FFFFFF;
}
.layout.invert .block > .field {
  color: #FFFFFF;
}
.layout.invert .block:last-child {
  margin: 0 0 0 0;
}
@media (min-width: 992px) {
  .layout.invert {
    padding: 3.5rem 2rem 2rem 2rem;
    margin: 0 0 5.8rem 0;
  }
}

ul.menu {
  margin: 0;
  padding: 0;
}
ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.messages {
  margin: 6rem 0 0 0;
}

.node {
  margin: 0;
}

.pager {
  text-align: center;
  margin: 0 0 1.6rem 0;
}
.pager .pager__items {
  clear: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  font-size: 0;
}
.pager .pager__items .pager__item {
  display: inline-block;
  padding: 0;
  margin: 0;
  border-right: 1px solid #EEEEEE;
  font-size: 1.6rem;
}
.pager .pager__items .pager__item a {
  display: inline-block;
  padding: 0.5em 1em;
}
.pager .pager__items .pager__item:last-child {
  border-right: 0;
}
.pager .pager__items .pager__item.is-active {
  font-weight: bold;
}
.pager .pager__items .pager__item.is-active a {
  background: #EEEEEE;
}
@media (max-width: 991px) {
  .pager .pager__item--first span,
.pager .pager__item--previous span,
.pager .pager__item--next span,
.pager .pager__item--last span {
    display: none;
  }
  .pager .pager__item--first a:after {
    content: "<<";
  }
  .pager .pager__item--previous a:after {
    content: "<";
  }
  .pager .pager__item--next a:after {
    content: ">";
  }
  .pager .pager__item--last a:after {
    content: ">>";
  }
}
@media (max-width: 479px) {
  .pager .pager__item {
    display: none;
  }
  .pager .pager__item.is-active,
.pager .pager__item--first,
.pager .pager__item--previous,
.pager .pager__item--next,
.pager .pager__item--last {
    display: inline-block;
  }
}

nav.tabs ul.tabs {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #0678be;
  margin: 0 0 30px 0;
}
nav.tabs ul.tabs:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
nav.tabs ul.tabs li {
  float: left;
  display: block;
  border: 0;
  margin: 0 6px 0 0;
  padding: 0;
}
nav.tabs ul.tabs li a {
  float: left;
  display: block;
  border: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #DDDDDD;
  margin: 0;
  padding: 10px 20px;
}
nav.tabs ul.tabs li.is-active a {
  background-color: #0678be;
  border: 0;
  color: #FFFFFF;
}
nav.tabs ul.tabs li.is-active a:hover {
  background-color: #0678be;
}
@media (max-width: 1299px) {
  nav.tabs ul.tabs li a {
    padding: 10px 10px;
    font-size: 1.6rem;
  }
}

.view .view-content .views-table {
  width: 100%;
}
.view .view-content .views-row {
  margin-bottom: 6rem;
}
.view .more-link {
  text-align: left;
  border-top: 1px solid #EEEEEE;
  margin-top: 1rem;
  padding-top: 1.5rem;
}

.block-system-breadcrumb-block {
  margin-bottom: 3rem;
}
.block-system-breadcrumb-block > h2 {
  display: none;
}
@media (min-width: 992px) {
  .block-system-breadcrumb-block {
    text-align: center;
  }
}
.block-system-breadcrumb-block ol li {
  margin: 0 0 1rem 0;
}

#hero .block-page-title-block {
  text-align: center;
}
#hero .block-page-title-block:last-child {
  margin-bottom: 2rem;
}
#hero .block-page-title-block h1 {
  color: #0678be;
}

.field--name-field-gallery.field__items {
  display: flex;
  flex-wrap: wrap;
}
.field--name-field-gallery.field__items .field__item {
  margin: 0 1.2rem 1.2rem 0;
}

.field--name-field-tags .field__items {
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  display: inline-block;
}
.field--name-field-tags .field__items .field__item {
  display: inline-block;
  border-right: 1px solid #EEEEEE;
}
.field--name-field-tags .field__items .field__item:last-child {
  border-right: 0;
}
.field--name-field-tags .field__items .field__item a {
  display: inline-block;
  padding: 10px;
}

.field--name-title h2 {
  padding: 0;
}

.field--type-comment .comment {
  border: 1px solid #EEEEEE;
  padding: 15px 20px;
  margin: 20px 0 0 0;
  position: relative;
}
.field--type-comment .comment .comment__meta > a {
  position: absolute;
  right: 15px;
  top: 15px;
}
.field--type-comment .indented {
  margin-left: 50px;
}
.field--type-comment .comment-form__title {
  padding-top: 50px;
}

.field--type-image img {
  max-width: 100%;
  height: auto;
}

.node--view-mode-full .node-footer {
  padding-top: 20px;
  margin-top: 50px;
  border-top: 1px solid #EEEEEE;
  line-height: 1.5;
  font-size: 1.6rem;
}
.node--view-mode-full .node__links {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .node--view-mode-full > .field--name-field-image {
    margin: 0 0 3rem 0;
  }
}

#center.no-sidebars .node--view-mode-full > .field--name-field-image {
  margin-bottom: 3rem;
}
@media (min-width: 1300px) {
  #center.no-sidebars .node--view-mode-full > .field--name-field-image {
    margin: 0 -100px 5rem -100px;
  }
}

.node--view-mode-teaser h2.title {
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 2.6rem;
  font-weight: bold;
}
.node--view-mode-teaser .date {
  margin: 0 0 1rem 0;
  font-size: 1.4rem;
}
.node--view-mode-teaser .field--name-field-perex {
  margin: 0;
}
.node--view-mode-teaser .readmore {
  padding-top: 0;
  margin-top: -5px;
}
.node--view-mode-teaser .readmore a {
  display: inline-block;
  color: #0678be;
}
@media (min-width: 480px) {
  .node--view-mode-teaser {
    display: flex;
    margin: 0 -15px;
  }
  .node--view-mode-teaser .left {
    flex: 1;
    margin: 0 15px;
  }
  .node--view-mode-teaser .right {
    flex: 2.7;
    margin: 0 15px;
  }
}

.view-address-book .field--name-field-email .field__label {
  display: none;
}

@media (min-width: 992px) {
  .view-frontpage {
    display: flex;
  }
  .view-frontpage .attachment-before {
    flex: 1;
    margin-right: 8rem;
  }
  .view-frontpage .attachment-before .view-frontpage .view-content .views-row {
    margin: 0;
  }
  .view-frontpage .attachment-before .view-frontpage .view-content .views-row .node {
    display: block;
  }
  .view-frontpage .attachment-before .view-frontpage .view-content .views-row .node h2.title {
    padding: 0;
    margin: 0 0 1rem 0;
    font-size: 4rem;
  }
  .view-frontpage .attachment-before .view-frontpage .view-content .views-row .node .left {
    margin-bottom: 3rem;
  }
  .view-frontpage .attachment-before .view-frontpage .view-content .views-row .node .left img {
    width: 100%;
    height: auto;
  }
  .view-frontpage .view-content {
    flex: 1.5;
  }
}
.view-gallery {
  overflow: hidden;
}
.view-gallery .views-row {
  margin: 0;
}
.view-gallery .views-row .field {
  margin: 0;
}
.view-gallery .views-row .node {
  display: block;
  margin: 0;
}
.view-gallery .views-row .node .left {
  margin: 0 0 1.5rem 0;
}
.view-gallery .views-row .node .right {
  margin: 0;
}
@media (min-width: 992px) {
  .view-gallery .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem;
  }
  .view-gallery .view-content .views-row {
    width: calc(33.33% - 40px);
    margin: 0 2rem 6rem 2rem;
  }
}

.view-magazine {
  overflow: hidden;
}
.view-magazine .views-row {
  margin: 0;
}
.view-magazine .views-row .field {
  margin: 0;
}
.view-magazine .views-row .node {
  display: block;
  margin: 0;
}
.view-magazine .views-row .node .left {
  margin: 0 0 1.5rem 0;
}
.view-magazine .views-row .node .right {
  margin: 0;
}
@media (min-width: 992px) {
  .view-magazine .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem;
  }
  .view-magazine .view-content .views-row {
    width: calc(33.33% - 40px);
    margin: 0 2rem 6rem 2rem;
  }
}

#copyright {
  background: #252525;
  color: #AAAAAA;
  text-align: center;
}
#copyright .block {
  margin: 0;
  color: #AAAAAA;
  font-size: 1.4rem;
}
#copyright .block > h2 {
  display: none;
}
#copyright .block p, #copyright .block span {
  line-height: 1.5;
  margin: 0;
  display: inline-block;
}
#copyright .block p a, #copyright .block span a {
  color: #0678be;
}
#copyright .block p a:hover, #copyright .block span a:hover {
  color: #DDDDDD;
}
@media (max-width: 991px) {
  #copyright {
    padding: 0 0 6rem 0;
  }
  #copyright .block {
    margin-bottom: 20px;
  }
  #copyright .block:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  #copyright {
    padding: 3rem 0 6rem 0;
  }
  #copyright .region {
    display: flex;
    justify-content: center;
    border-top: 1px solid #353535;
    padding-top: 3rem;
  }
  #copyright .region .block {
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid #DDDDDD;
  }
  #copyright .region .block:last-child {
    margin-right: 0px;
    padding-right: 0px;
    border: 0;
  }
}

#footer {
  background: #252525;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  #footer {
    padding: 40px 0 40px 0;
    text-align: center;
  }
}
@media (min-width: 992px) {
  #footer {
    padding: 80px 0 40px 0;
  }
}
@media (min-width: 992px) {
  #footer {
    padding: 80px 0 40px 0;
  }
  #footer .region-footer {
    display: flex;
    margin: 0 -20px;
  }
}
#footer .block > h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
  display: none;
}
#footer .block .field {
  margin: 0;
}
#footer .block .field p {
  line-height: 1.6;
  margin: 0;
}
#footer .block .field a {
  color: #FFFFFF;
}
#footer .block .field a:hover {
  color: #0678be;
}
@media (max-width: 991px) {
  #footer .block {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #353535;
  }
  #footer .block:last-child {
    margin-bottom: 0px;
  }
}
@media (min-width: 992px) {
  #footer .block {
    flex-grow: 1;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
  }
  #footer .block > h2 {
    text-align: left;
  }
}

@media (max-width: 991px) {
  #header .region-header {
    display: flex;
    flex-direction: column;
  }
  #header .region-header .block-language {
    order: 3;
  }
  #header .region-header .block-search {
    order: 2;
  }
  #header .region-header .block-menu {
    order: 1;
  }
}
@media (min-width: 992px) {
  #header #header-wrapper {
    position: relative;
  }
  #header .region-header {
    display: flex;
  }
}

#hero {
  padding: 4rem 0 0 0;
}
#hero .block > h2 {
  display: none;
}

#main {
  margin: 0;
}
@media (max-width: 991px) {
  #menu {
    color: #FFFFFF;
  }
}
@media (min-width: 992px) {
  #menu {
    background: #0678be;
  }
}

@media (max-width: 991px) {
  #navbar-wrapper {
    position: relative;
    height: 90px;
  }
  #navbar-wrapper #navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background: #FFFFFF;
    z-index: 100;
    position: relative;
    height: 90px;
  }
}
@media (min-width: 992px) {
  #navbar-wrapper {
    display: none;
  }
}
/* open */
body.menu-open #navbar-wrapper #navbar {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0px;
}

#pager {
  margin-bottom: 2rem;
}
#pager .block > h2 {
  display: none;
}
#pager .block .view .view-content {
  display: block;
  margin: 0;
  padding: 0;
}
#pager .block .view .view-content ul {
  display: flex;
}
#pager .block .view .view-content ul li {
  display: inline;
}
#pager .block .view .view-content ul li.entity-pager-item-prev {
  order: 1;
  flex: 1;
  text-align: left;
}
#pager .block .view .view-content ul li.entity-pager-item-count {
  order: 2;
  flex: 1;
  text-align: center;
}
#pager .block .view .view-content ul li.entity-pager-item-next {
  order: 3;
  flex: 1;
  text-align: right;
}

#section1 {
  padding-bottom: 8rem;
}
#section1 .region .block > h2 {
  margin: 0 0 3rem 0;
  font-size: 3.2rem;
}
@media (min-width: 768px) {
  #section1 .region {
    display: flex;
    margin: 0 -2rem;
  }
  #section1 .region .block {
    flex: 1 1 0;
    margin: 0 2rem;
  }
  #section1 .region .block .view .views-row {
    margin-bottom: 3rem;
    width: auto;
  }
  #section1 .region .block .view .views-row .node {
    display: block;
    margin: 0;
  }
  #section1 .region .block .view .views-row .node .left {
    margin: 0 0 1.5rem 0;
  }
  #section1 .region .block .view .views-row .node .right {
    margin: 0;
  }
  #section1 .region .block .view .views-row .views-field {
    margin-bottom: 0.6rem;
  }
  #section1 .region .block .view .views-row .views-field.views-field-title {
    font-weight: bold;
    font-size: 1.8rem;
  }
}

#section2 {
  padding-bottom: 8rem;
}
#section2 .region .block > h2 {
  margin: 0 0 3rem 0;
  font-size: 3.2rem;
}
@media (min-width: 768px) {
  #section2 .region {
    display: flex;
    margin: 0 -2rem;
  }
  #section2 .region .block {
    flex: 1 1 0;
    margin: 0 2rem;
  }
  #section2 .region .block .view .views-row {
    margin-bottom: 2rem;
  }
  #section2 .region .block .view .views-row .node {
    display: block;
    margin: 0;
  }
  #section2 .region .block .view .views-row .node .left {
    margin: 0 0 1.5rem 0;
  }
  #section2 .region .block .view .views-row .node .right {
    margin: 0;
  }
}

#sidebar-first, #sidebar-second {
  margin: 0 0 40px 0;
  color: #353535;
}
#sidebar-first .block, #sidebar-second .block {
  margin-bottom: 60px;
}
#sidebar-first .block:last-child, #sidebar-second .block:last-child {
  margin-bottom: 0px;
}
#sidebar-first .block > h2, #sidebar-second .block > h2 {
  padding: 10px 15px 18px 15px;
  margin: 0 0 1.6rem 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: 2px solid #454545;
  color: #454545;
  font-weight: bold;
}

#copyright .block-menu ul.menu li {
  line-height: 1.5;
  margin: 0;
}
#copyright .block-menu ul.menu li a {
  color: #DDDDDD;
  text-decoration: none;
  font-size: 1.4rem;
}
#copyright .block-menu ul.menu li a:hover {
  color: #0678be;
}
@media (max-width: 991px) {
  #copyright .block-menu ul.menu li a {
    display: block;
    text-align: center;
    padding: 5px 0;
  }
}
@media (min-width: 992px) {
  #copyright .block-menu ul.menu {
    display: flex;
    flex-wrap: wrap;
  }
  #copyright .block-menu ul.menu li {
    margin-right: 25px;
  }
  #copyright .block-menu ul.menu li:last-child {
    margin-right: 0px;
  }
  #copyright .block-menu ul.menu li a {
    display: inline-block;
  }
}

#footer .block-system-branding-block .image img {
  width: 100px;
  height: auto;
}

#footer .block-menu {
  margin-bottom: 30px;
}
#footer .block-menu ul.menu li a {
  display: block;
  padding: 9px 0 9px 0;
  color: #FFFFFF;
  text-decoration: none;
}
#footer .block-menu ul.menu li a:hover {
  color: #0897ef;
}
@media (max-width: 991px) {
  #footer .block-menu ul.menu li a {
    padding: 12px 0;
    text-align: center;
  }
}
@media (min-width: 992px) {
  #footer .block-menu {
    margin-bottom: 0px;
  }
}

@media (max-width: 991px) {
  #header .block-system-branding-block {
    display: none;
  }
}
@media (min-width: 992px) {
  #header .block-system-branding-block {
    margin: 0 auto 0 0;
  }
  #header .block-system-branding-block a.logo {
    display: inline-block;
    padding: 25px 0px 25px 0px;
    text-decoration: none;
  }
  #header .block-system-branding-block a.logo .image {
    display: inline-block;
    padding-right: 8px;
    vertical-align: top;
  }
  #header .block-system-branding-block a.logo .image img {
    width: 72px;
    height: auto;
  }
  #header .block-system-branding-block a.logo .title {
    display: inline-block;
    vertical-align: top;
  }
  #header .block-system-branding-block a.logo .title .site-name {
    display: block;
    font-size: 3rem;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 2px;
  }
  #header .block-system-branding-block a.logo .title .site-slogan {
    display: block;
    font-size: 15px;
    color: #000000;
  }
}

#header .block-language h2 {
  display: none;
}
#header .block-language ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header .block-language ul.links li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  list-style: none;
}
#header .block-language ul.links li.is-active {
  display: none;
}
#header .block-language ul.links li a {
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 991px) {
  #header .block-language {
    padding: 0px 0px 20px 20px;
    margin: 0;
  }
  #header .block-language ul.links li {
    padding: 0 15px 0 0px;
  }
}
@media (min-width: 992px) {
  #header .block-language {
    height: 110px;
    margin: 0;
  }
  #header .block-language li {
    display: block;
    float: left;
    margin: 0;
    padding: 0px 25px 0px 25px;
    height: 110px;
    line-height: 110px;
    font-weight: 800;
    text-transform: uppercase;
    color: #353535;
    text-decoration: none;
    white-space: nowrap;
  }
}

#header .block-search {
  margin: 0;
  vertical-align: middle;
}
#header .block-search > h2 {
  display: none;
}
#header .block-search form,
#header .block-search div,
#header .block-search input,
#header .block-search span {
  margin: 0;
  padding: 0;
}
#header .block-search form {
  display: flex;
}
@media (max-width: 991px) {
  #header .block-search {
    margin-bottom: 50px;
    width: 100%;
  }
  #header .block-search .close-search {
    display: none;
  }
  #header .block-search form .form-item {
    flex: 3;
  }
  #header .block-search form .form-item input.form-search {
    padding: 0 12px;
    width: calc(100% - 24px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 50px;
  }
  #header .block-search form .form-actions {
    flex: 1;
  }
  #header .block-search form .form-actions input.form-submit {
    width: 100%;
    height: 52px;
    background: #04598d;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media (min-width: 992px) {
  #header .block-search {
    display: flex;
  }
  #header .block-search .close-search {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: inline-block;
    overflow: hidden;
    background: url("../images/search-black.svg") no-repeat 50% 50%;
    background-size: 30px 30px;
    text-indent: 100px;
    margin-left: 10px;
  }
  #header .block-search .form-search {
    height: 40px;
    width: 0px;
    visibility: hidden;
    padding: 0 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #header .block-search .form-submit {
    height: 42px;
    padding: 0 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  #header .block-search .form-actions {
    display: none;
  }
}
@media (min-width: 992px) {
  #header .block-search.open .close-search {
    background: url("../images/search-close.svg") no-repeat 50% 50%;
  }
  #header .block-search.open .form-search {
    width: 250px;
    transition: all 0.5s;
    visibility: visible;
  }
  #header .block-search.open .form-actions {
    display: block;
  }
}

@media (min-width: 992px) {
  #header .region-header-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }
  #header .region-header-menu .block-menu {
    margin-left: 3rem;
  }
  #header .region-header-menu .block-menu > h2 {
    display: none;
  }
  #header .region-header-menu .block-menu ul.menu {
    display: flex;
  }
  #header .region-header-menu .block-menu ul.menu li {
    border-right: 1px solid #F6F6F6;
  }
  #header .region-header-menu .block-menu ul.menu li:last-child {
    border-right: 0;
  }
  #header .region-header-menu .block-menu ul.menu li a {
    padding: 12px 20px;
    display: block;
  }
  #header .region-header-menu .block-menu ul.menu li.menu-item--active-trail a {
    font-weight: bold;
  }
  #header .region-header-menu .block-menu ul.menu li li {
    display: none;
  }
}

@media (min-width: 992px) {
  #header .region-header-search {
    position: absolute;
    bottom: 25px;
    right: 0;
    display: flex;
  }
}

#hero .node--type-intro {
  position: relative;
  height: 500px;
  overflow: hidden;
  background-color: #045383;
}
#hero .node--type-intro picture {
  display: flex;
  justify-content: center;
}
#hero .node--type-intro picture img {
  height: 500px;
  width: auto;
  max-width: none !important;
}
#hero .node--type-intro .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
@media (max-width: 991px) {
  #hero .node--type-intro .content {
    top: auto;
    bottom: 90px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0 !important;
    padding-bottom: 5rem;
  }
}
#hero .node--type-intro .content h2.title {
  position: relative;
  transition: all 1s;
  transition-delay: 0.2s;
  top: 50px;
  opacity: 0;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 110%;
  color: #FFFFFF;
  text-align: left !important;
}
#hero .node--type-intro .content .field--name-field-intro-text p {
  position: relative;
  transition: all 0.5s;
  transition-delay: 0.5s;
  top: 40px;
  opacity: 0;
  padding: 0;
  margin: 15px 0 0 0 !important;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.015em;
  line-height: 130%;
  text-transform: none;
  color: #FFFFFF;
  text-align: left !important;
}
#hero .node--type-intro .content .field--name-field-intro-link a {
  background-color: #0678be;
  color: #FFFFFF;
  display: inline-block;
  padding: 15px 25px;
  position: relative;
  transition: all 0.5s;
  transition-delay: 0.8s;
  top: 30px;
  opacity: 0;
  margin-top: 2rem;
}
@media (max-width: 1299px) {
  #hero .node--type-intro .content {
    margin-top: 40px;
  }
  #hero .node--type-intro .content h2.title {
    font-size: 3.5rem;
  }
  #hero .node--type-intro .content .field--name-field-intro-text p {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  #hero .node--type-intro .content {
    margin-top: 100px;
  }
}
#hero .owl-item.active .node--type-intro h2.title {
  top: 0px;
  opacity: 1;
}
#hero .owl-item.active .node--type-intro .field--name-field-intro-text p {
  top: 0px;
  opacity: 1;
}
#hero .owl-item.active .node--type-intro .field--name-field-intro-link a {
  top: 0px;
  opacity: 1;
}
#hero .owl-carousel.disabled .node--type-intro .text h2 {
  top: 0px;
  opacity: 1;
}
#hero .owl-carousel.disabled .node--type-intro .field--name-field-intro-text p {
  top: 0px;
  opacity: 1;
}
#hero .owl-carousel.disabled .node--type-intro .field--name-field-intro-link a {
  top: 0px;
  opacity: 1;
}

#hero .view-intro .view-content {
  height: 500px;
  overflow: hidden;
  position: relative;
}
#hero .view-intro .view-content .views-row {
  margin-bottom: 0;
}
#hero .view-intro .owl-nav {
  margin: 0;
}
#hero .view-intro .owl-prev {
  position: absolute;
  left: 20px;
  top: 0;
  height: 100%;
  width: 80px;
  background: url("../images/intro-navigation-prev.png") no-repeat 50% 50%;
  padding: 0;
  margin: 0;
  text-indent: 300px;
  white-space: nowrap;
  overflow: hidden;
}
#hero .view-intro .owl-next {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  width: 80px;
  background: url("../images/intro-navigation-next.png") no-repeat 50% 50%;
  padding: 0;
  margin: 0;
  text-indent: 300px;
  white-space: nowrap;
  overflow: hidden;
}
#hero .view-intro .owl-dots {
  position: absolute;
  width: 500px;
  bottom: 30px;
  left: 50%;
  margin-left: -250px;
}
#hero .view-intro .owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
}
#hero .view-intro .owl-theme .owl-dots .owl-dot.active span {
  background: #0678be;
}
@media (max-width: 991px) {
  #hero .view-intro .owl-dots {
    bottom: 30px;
  }
}

#main .block-page-title-block h1 {
  margin: 0 0 4rem 0;
  color: #0678be;
}
@media (max-width: 991px) {
  #main .block-page-title-block h1 {
    margin: 0 0 2rem 0;
  }
}

@media (min-width: 992px) {
  #center.layout-builder #main .block-page-title-block h1 {
    text-align: center;
    margin: 0 0 6rem 0;
  }
}

#main #search-form .form-wrapper label {
  margin-bottom: 12px;
  display: block;
}
#main #search-form .form-wrapper .form-type-search {
  display: inline-block;
  width: calc(100% - 60px);
  margin: 0;
}
#main #search-form .form-wrapper .form-type-search .form-search {
  padding: 0 1.5rem;
  height: 55px;
  line-height: 55px;
  width: calc(100% - 34px);
}
#main #search-form .form-wrapper .form-submit {
  display: inline-block;
  height: 55px;
  width: 55px;
  overflow: hidden;
  border: 0;
  background: #0678be url("../images/search-white.svg") no-repeat 50% 50%;
  background-size: 30px 30px;
  text-indent: 100px;
  margin: 0;
}
#main #search-form .form-wrapper .form-submit:hover {
  background-color: #04598d;
}
#main #search-form .search-help-link {
  display: none;
}
#main ol.search-results {
  margin: 50px 0 0 0;
  padding: 0;
}
#main ol.search-results li {
  margin: 0 0 50px 0;
  padding: 0;
}
#main ol.search-results li .search-result__title {
  font-weight: normal;
  font-size: 1.4rem;
}

#main .user-login-form {
  border: 1px solid #DDDDDD;
  background: #EEEEEE;
  padding: 3rem;
}
#main .user-login-form label {
  display: block;
  margin: 0 0 0.8rem 0;
}
#main .user-login-form .form-text {
  margin-bottom: 0.8rem;
}
#main .user-login-form .form-item {
  margin-top: 0;
  margin-bottom: 3rem;
}
#main .user-login-form .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
#main .user-login-form .description {
  margin-top: -0.8rem;
}

#main .user-pass {
  border: 1px solid #DDDDDD;
  background: #EEEEEE;
  padding: 3rem;
}
#main .user-pass label {
  display: block;
  margin: 0 0 0.8rem 0;
}
#main .user-pass .form-text {
  margin-bottom: 0.8rem;
}
#main .user-pass .description {
  margin-top: -0.8rem;
}
#main .user-pass .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
#main .user-pass .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
#main .user-pass p {
  font-size: 1.3rem;
}

#main .user-register-form {
  border: 1px solid #DDDDDD;
  background: #EEEEEE;
  padding: 3rem;
}
#main .user-register-form label {
  display: block;
  margin: 0 0 0.8rem 0;
}
#main .user-register-form .form-text {
  margin-bottom: 0.8rem;
}
#main .user-register-form .form-item {
  margin-top: 0;
  margin-bottom: 3rem;
}
#main .user-register-form .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
#main .user-register-form .description {
  margin-top: -0.8rem;
}

#menu .block-menu > h2 {
  display: none;
}
@media (max-width: 991px) {
  #menu .block-menu {
    /* 1 */
  }
  #menu .block-menu {
    padding: 0px 0px 35px 0px;
  }
  #menu .block-menu ul.menu {
    margin: 0;
    padding: 0;
  }
  #menu .block-menu ul.menu li {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    /* 2 */
  }
  #menu .block-menu ul.menu li a {
    display: block;
    padding: 12px 80px 12px 20px;
    text-decoration: none;
    border-bottom: 1px solid #0897ef;
    color: #FFFFFF;
    font-size: 20px;
  }
  #menu .block-menu ul.menu li a:hover {
    color: #FFFFFF;
  }
  #menu .block-menu ul.menu li a.is-active {
    color: #FFFFFF;
  }
  #menu .block-menu ul.menu li a.is-active:hover {
    color: #FFFFFF;
  }
  #menu .block-menu ul.menu li ul {
    display: none;
    border: 0;
  }
  #menu .block-menu ul.menu li ul.open {
    display: block;
  }
  #menu .block-menu ul.menu li ul li {
    /* 3 */
  }
  #menu .block-menu ul.menu li ul li a {
    padding: 12px 80px 12px 40px;
  }
  #menu .block-menu ul.menu li ul li ul li {
    /* 4 */
  }
  #menu .block-menu ul.menu li ul li ul li a {
    padding: 12px 80px 12px 60px;
  }
  #menu .block-menu ul.menu li ul li ul li ul li {
    /* 5 */
  }
  #menu .block-menu ul.menu li ul li ul li ul li a {
    padding: 12px 80px 12px 80px;
  }
  #menu .block-menu ul.menu li ul li ul li ul li ul li a {
    padding: 12px 80px 12px 100px;
  }
  #menu .block-menu ul.menu li span {
    position: absolute;
    right: 0;
    top: 0px;
    height: 54px;
    width: 60px;
    background: url("../images/down.svg") no-repeat 50% 50%;
    cursor: pointer;
    border-left: 1px solid #0897ef;
  }
  #menu .block-menu ul.menu li span.open {
    background: url("../images/top.svg") no-repeat 50% 50%;
  }
}
@media (min-width: 992px) {
  #menu .block-menu {
    /* 1 */
  }
  #menu .block-menu {
    position: relative;
  }
  #menu .block-menu > ul.menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  #menu .block-menu > ul.menu > li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    line-height: 1;
    /* 
    flex-grow: 1; 
    */
    /* 2 */
  }
  #menu .block-menu > ul.menu > li a {
    display: block;
    margin: 0;
    padding: 0 3rem;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }
  #menu .block-menu > ul.menu > li a.is-active {
    font-weight: bold;
    color: #FFFFFF;
    background: #0568a5;
  }
  #menu .block-menu > ul.menu > li a.is-active:hover {
    color: #454545;
    font-weight: bold;
    color: #0678be;
  }
  #menu .block-menu > ul.menu > li:hover > a {
    background: #04598d;
    color: #FFFFFF;
  }
  #menu .block-menu > ul.menu > li:hover > a:hover {
    background: #04598d;
    color: #FFFFFF;
  }
  #menu .block-menu > ul.menu > li.menu-item--active-trail > a {
    color: #FFFFFF;
    font-weight: bold;
    background: #0568a5;
  }
  #menu .block-menu > ul.menu > li.menu-item--active-trail:hover > a {
    color: #FFFFFF;
  }
  #menu .block-menu > ul.menu > li > ul {
    display: none;
    background: #0568a5;
  }
  #menu .block-menu > ul.menu > li:hover > ul {
    display: block !important;
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 1000;
    height: auto;
    min-width: 150%;
  }
  #menu .block-menu > ul.menu > li:last-child > ul {
    right: 0;
    left: auto;
  }
  #menu .block-menu > ul.menu > li > ul > li {
    margin: 0;
    padding: 0;
    height: auto;
    line-height: 1;
    /* 3 */
  }
  #menu .block-menu > ul.menu > li > ul > li > a {
    margin: 0;
    padding: 2rem 3rem;
    text-align: left;
    height: auto;
    line-height: 1;
    text-transform: none;
    font-weight: normal;
    color: #FFFFFF !important;
  }
  #menu .block-menu > ul.menu > li > ul > li > a:hover {
    color: #FFFFFF;
    background-color: #04598d;
  }
  #menu .block-menu > ul.menu > li > ul > li ul {
    display: none !important;
  }
}

#navbar .block-system-branding-block {
  margin: 0;
  height: 90px;
  float: left;
}
#navbar .block-system-branding-block a {
  display: inline-block;
  padding: 15px 0px 15px 20px;
  text-decoration: none;
}
#navbar .block-system-branding-block a .image {
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
}
#navbar .block-system-branding-block a .image img {
  width: auto;
  height: 60px;
}
#navbar .block-system-branding-block a .title {
  display: inline-block;
  vertical-align: top;
}
#navbar .block-system-branding-block a .title .site-name {
  display: block;
  font-size: 32px;
  color: #000000;
}
#navbar .block-system-branding-block a .title .site-slogan {
  display: block;
  font-size: 15px;
  color: #000000;
}
@media (max-width: 479px) {
  #navbar .block-system-branding-block a .title {
    display: none;
  }
}

#navbar .icon-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 90px;
  border: 0;
  background: none;
  z-index: 200;
  text-align: center;
  margin: 0;
  padding: 0;
  border-left: 1px solid #EEEEEE;
}
#navbar .icon-menu span.icon-menu-1,
#navbar .icon-menu span.icon-menu-2,
#navbar .icon-menu span.icon-menu-3 {
  width: 30px;
  height: 4px;
  background: #000000;
  display: block;
  margin: 6px auto;
  border-radius: 2px;
  position: relative;
  top: 0;
}
#navbar .icon-menu span.icon-menu-1,
#navbar .icon-menu span.icon-menu-3 {
  transition: all 0.1s 0.1s;
}
#navbar .icon-menu span.icon-menu-2 {
  transition: all 0.1s 0.1s;
}
@media (min-width: 992px) {
  #navbar .icon-menu {
    display: none;
  }
}

/* open */
body.menu-open #navbar .icon-menu span.icon-menu-1 {
  transform: rotate(45deg);
  position: relative;
  top: 10px;
}
body.menu-open #navbar .icon-menu span.icon-menu-2 {
  visibility: hidden;
}
body.menu-open #navbar .icon-menu span.icon-menu-3 {
  transform: rotate(-45deg);
  position: relative;
  top: -10px;
}
body.menu-open #navbar .icon-menu span.icon-menu-1,
body.menu-open #navbar .icon-menu span.icon-menu-3 {
  transition: all 0 0;
}
body.menu-open #navbar .icon-menu span.icon-menu-2 {
  transition: all 0.1s 0s;
}

@media (max-width: 991px) {
  #sidebar-first .block-menu, #sidebar-second .block-menu {
    display: none;
  }
}
@media (min-width: 768px) {
  #sidebar-first .block-menu ul.menu li, #sidebar-second .block-menu ul.menu li {
    /* 2 */
  }
  #sidebar-first .block-menu ul.menu li a, #sidebar-second .block-menu ul.menu li a {
    display: block;
    padding: 15px 15px;
    background: #FFFFFF;
    color: #454545;
    border-bottom: 1px solid #EEEEEE;
    text-decoration: none;
  }
  #sidebar-first .block-menu ul.menu li a:hover, #sidebar-second .block-menu ul.menu li a:hover {
    background: transparent;
    color: #454545;
    text-decoration: underline;
  }
  #sidebar-first .block-menu ul.menu li a.is-active, #sidebar-second .block-menu ul.menu li a.is-active {
    background: transparent;
    color: #454545;
    font-weight: bold;
  }
  #sidebar-first .block-menu ul.menu li a.is-active:hover, #sidebar-second .block-menu ul.menu li a.is-active:hover {
    background: transparent;
    color: #454545;
  }
  #sidebar-first .block-menu ul.menu li ul, #sidebar-second .block-menu ul.menu li ul {
    /* 3 */
  }
  #sidebar-first .block-menu ul.menu li ul li a, #sidebar-second .block-menu ul.menu li ul li a {
    padding-left: 40px;
  }
  #sidebar-first .block-menu ul.menu li ul ul, #sidebar-second .block-menu ul.menu li ul ul {
    /* 4 */
  }
  #sidebar-first .block-menu ul.menu li ul ul li a, #sidebar-second .block-menu ul.menu li ul ul li a {
    padding-left: 65px;
  }
  #sidebar-first .block-menu ul.menu li ul ul ul li a, #sidebar-second .block-menu ul.menu li ul ul ul li a {
    padding-left: 80px;
  }
}

body {
  background: #FFFFFF;
}

@media (max-width: 991px) {
  #center {
    padding: 4rem 0 4rem 0;
  }
  #center .region-center {
    display: flex;
    flex-direction: column;
  }
  #center .region-center #main {
    order: 1;
  }
  #center .region-center #sidebar-first {
    order: 2;
  }
  #center .region-center #sidebar-second {
    order: 3;
  }
}
@media (min-width: 992px) {
  /* center */
  #center {
    padding: 4rem 0 10rem 0;
    overflow: hidden;
    /* main */
    /* sidebar */
  }
  #center .region-center {
    display: flex;
    margin: 0 -4rem;
  }
  #center.sidebar-first #main, #center.sidebar-second #main {
    flex: 11;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #center.two-sidebars #main {
    flex: 9;
  }
  #center.no-sidebars #main {
    width: 850px;
    margin: 0 auto;
  }
  #center #sidebar-first, #center #sidebar-second {
    flex: 4;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.container {
  padding: 0 30px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
}
@media (min-width: 1300px) {
  .container {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
  }
}

@media (max-width: 991px) {
  #navbar-collapse {
    display: none;
  }

  body.menu-open #navbar-collapse {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(100% - 90px);
    top: 90px;
    left: 0;
    z-index: 1000;
    background: #0678be;
    color: #FFFFFF;
    overflow-y: auto;
    padding-top: 35px;
  }
  body.menu-open #navbar-collapse #header {
    order: 2;
  }
  body.menu-open #navbar-collapse #menu {
    order: 1;
  }
}
body.path-frontpage #hero {
  padding: 0;
  height: 500px;
}
body.path-frontpage #center {
  padding: 4rem 0 1rem 0;
}
@media (min-width: 992px) {
  body.path-frontpage #center {
    padding: 8rem 0 8rem 0;
  }
}
body.path-frontpage #center .region-center {
  margin: 0;
}
body.path-frontpage #center .region-center #main {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */
