// 
// FIELD -- gallery
// 

.field--name-field-gallery {

    &.field__items {
        display: flex;
        flex-wrap: wrap;

        .field__item {
            margin: 0 1.2rem 1.2rem 0;
        }

    }

}