//
// SIDEBAR - BLOCK -- menu
//

#sidebar-first, #sidebar-second {

    .block-menu {

        @media (max-width: $screen-sm-max) {

            & {
                display: none;
            }
    
        }
    
        @media (min-width: $screen-sm-min) {
    
            ul.menu  {

                li {

                    a {
                        display: block;
                        padding: 15px 15px;
                        background: $white;
                        color: $gray-1;  
                        border-bottom: 1px solid $gray-4;
                        text-decoration: none;

                        &:hover {
                            background: transparent;
                            color: $gray-1;
                            text-decoration: underline;            
                        }

                        &.is-active {
                            background: transparent;
                            color: $gray-1;  
                            font-weight: bold;

                            &:hover {
                                background: transparent;
                                color: $gray-1;  
                            }
    
                        }

                    }

                    /* 2 */
                    ul {

                        li {

                            a {
                                padding-left: 40px;
                            }

                        }

                        /* 3 */
                        ul {

                            li {

                                a {
                                    padding-left: 65px;
                                }

                            }

                            /* 4 */
                            ul {

                                li {

                                    a {
                                        padding-left: 80px;
                                    }

                                }

                            }

                        }

                    }

                }

            }
    
        }
    
    }

}
