{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

    {% if content.field_image|render %}
    <div class="left">
        <div class="image">
            {{ content.field_image }}
        </div>
    </div>
    {% elseif content.field_gallery|render %}
    <div class="left">
        <div class="image">
            {{ content.field_gallery.0 }}
        </div>
    </div>
    {% endif %}

    <div class="right">
    
        {{ title_prefix }}
        {% if label and not page %}
        <h2 class="title">
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
        {% endif %}
        {{ title_suffix }}

        <div{{ content_attributes }}>
            <div class="date">{{ node.created.value | date('j. n. Y') }}</div>
            {{ content.field_perex }}
            <div class="readmore">
                <a href="{{ url }}">{{ 'Read more'|t }}</a>
            </div>
        </div>

    </div>

</article> 
