// 
// HERO -- block page title
// 

#hero {

    .block-page-title-block {
        text-align: center;  
        
        &:last-child {
            margin-bottom: 2rem;
        }

        h1 {
            color: $primary-color;
        }

    }

}