//
// variables
//

// COLORS
$white:#FFFFFF;
$black: #000000;

$primary-color: #0678be;
$primary-light-color: lighten($primary-color, 10%);
$primary-dark-color: darken($primary-color, 10%);

$gray-1: #454545;
$gray-2: #353535;
$gray-3: #252525;
$gray-4: #EEEEEE;
$gray-5: #DDDDDD;
$gray-6: #AAAAAA;

// BREAKPOINTS
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1300px;

$screen-xs-max: ($screen-xs-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1); 
