// 
// VIEW -- gallery
// 

.view-gallery {
    overflow: hidden;
    
    .views-row {
        margin: 0;

        .field {
            margin: 0;
        }

        .node {
            display: block;
            margin: 0;

            .left {
                margin: 0 0 1.5rem 0;
            }

            .right {
                margin: 0;
            }

        }

    }
    
    @media (min-width: $screen-md-min) {
    
        .view-content {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -2rem;

            .views-row {
                width: calc(33.33% - 40px);
                margin: 0 2rem 6rem 2rem;
            }   

        }
    
    }

}
