// 
// VIEW -- view-frontpage
// 

@media (min-width: $screen-md-min) {

    .view-frontpage {
        display: flex;
    
        .attachment-before {
            flex: 1;
            margin-right: 8rem;
            
            .view-frontpage {
    
                .view-content {
    
                    .views-row {
                        margin: 0;
    
                        .node {
                            display: block;
    
                            h2.title {     
                                padding: 0;
                                margin: 0 0 1rem 0;
                                font-size: 4rem;
                            }

                            .left {
                                margin-bottom: 3rem;

                                img {
                                    width: 100%;
                                    height: auto;
                                }
    
                            }
    
                        }
    
                    }
    
                }
    
            }
    
        }
    
        .view-content {
            flex: 1.5;
        }
    
    }
    
}


