// 
// MAIN -- page title
// 

#main {

    .block-page-title-block {

        h1 {
            margin: 0 0 4rem 0;
            color: $primary-color;

            @media (max-width: $screen-sm-max) {
                margin: 0 0 2rem 0;
            }

        }

    }

}


#center {

    &.layout-builder {

        #main {

            .block-page-title-block {
        
                @media (min-width: $screen-md-min) {

                    h1 {
                        text-align: center;
                        margin: 0 0 6rem 0;
                    }
                    
                }
        
            }
        
        }

    }

}