// 
// MAIN - SEARCH -- result
// 

#main {

    #search-form {

        .form-wrapper {

            label {
                margin-bottom: 12px;
                display: block;
            }
    
            .form-type-search {
                display: inline-block;
                width: calc(100% - 60px);  
                margin: 0;

                .form-search {
                    padding: 0 1.5rem;
                    height: 55px;
                    line-height: 55px;  
                    width: calc(100% - 34px);                  
                }

            }

            .form-submit {
                display: inline-block;
                height: 55px;
                width: 55px;
                overflow: hidden;
                border: 0;
                background: $primary-color url('../images/search-white.svg') no-repeat 50% 50%;
                background-size: 30px 30px;
                text-indent: 100px;
                margin: 0;

                &:hover {
                    background-color: $primary-dark-color;
                }

            }

        }

        .search-help-link {
            display: none;
        }

    }

    ol.search-results {
        margin: 50px 0 0 0;
        padding: 0;

        li {
            margin: 0 0 50px 0;
            padding: 0;
    
            .search-result__title {
                font-weight: normal;
                font-size: 1.4rem;
            }
    
        }
    
    }

}
