//
// center
//

@media (max-width: $screen-sm-max) {

    #center {
        padding: 4rem 0 4rem 0;

        .region-center {
            display: flex;
            flex-direction: column;

            #main {
                order: 1;
            }
    
            #sidebar-first {
                order: 2;
            }
            
            #sidebar-second {
                order: 3;
            }
    
        }
    
    }
        
}

@media (min-width: $screen-md-min) {

    /* center */
    #center {
        padding: 4rem 0 10rem 0;
        overflow: hidden;
        
        .region-center {
            display: flex;
            margin: 0 -4rem;
        }

        /* main */
        &.sidebar-first,
        &.sidebar-second {

            #main {
                flex: 11;
                padding-left: 4rem;
                padding-right: 4rem;        
            }    

        }

        &.two-sidebars #main {
            flex: 9;
        }

        &.no-sidebars #main {
            width: 850px;
            margin: 0 auto;
        } 

        /* sidebar */
        #sidebar-first, #sidebar-second {
            flex: 4;
            padding-left: 4rem;
            padding-right: 4rem;
        }

    }

}
