// 
// NODE -- article teaser
// 

.node--view-mode-teaser {

    h2.title {     
        padding: 0;
        margin: 0 0 1rem 0;
        font-size: 2.6rem;
        font-weight: bold;
    }
    .date {
        margin: 0 0 1rem 0;
        font-size: 1.4rem;
    }

    .field--name-field-perex {
        margin: 0;
    }

    .readmore {     
        padding-top: 0;
        margin-top: -5px;

        a {     
            display: inline-block;
            color: $primary-color;
        }

    }

    @media (min-width: $screen-xs-min) {

        & {
            display: flex;
            margin: 0 -15px;
    
            .left {
                flex: 1;
                margin: 0 15px;
            }
            .right {
                flex: 2.7;
                margin: 0 15px;
            }

        }

    }

}

