// 
// NODE -- full
// 

.node--view-mode-full {

    .node-footer {
        padding-top: 20px;
        margin-top: 50px;
        border-top: 1px solid $gray-4;
        line-height: 1.5;
        font-size: 1.6rem;
    }

    .node__links {
        margin-bottom: 40px;
    }

    @media (min-width: $screen-md-min) {

        & > .field--name-field-image {
            margin: 0 0 3rem 0;
        }

    }

}


#center.no-sidebars {

    .node--view-mode-full {
    
        & > .field--name-field-image {
            margin-bottom: 3rem;
            
            @media (min-width: $screen-lg-min) {
                margin: 0 -100px 5rem -100px;
            }

        }
    
    }

}