// 
// LAYOUT
// 

.layout {
    margin: 0 0 3rem 0;

    .block {
        margin: 0 0 6rem 0;

        & > h2 {
            font-size: 2.6rem;
            font-weight: bold;
        }

        & > .field {
            margin: 0;
        }

        &:last-child {
            margin: 0 0 0 0;
        }

    }

    @media (max-width: $screen-sm-max) {
        display: block;
    }

    @media (min-width: $screen-md-min) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4rem;
        margin-left: -2rem;
        margin-right: -2rem;

        .layout__region {
            padding: 0 2rem;

            .block {
                margin: 0;
            }
    
        }
    
    }

    // invert
    &.invert {
        background-color: $primary-color;
        color: $white;
        padding: 3.5rem 3rem 2rem 3rem;
        margin: 0 0 4rem 0;

        .block {
            margin: 0 0 6rem 0;
    
            & > h2 {
                color: $white;
            }
    
            & > .field {
                color: $white;
            }
    
            &:last-child {
                margin: 0 0 0 0;
            }

        }

        @media (min-width: $screen-md-min) {
            padding: 3.5rem 2rem 2rem 2rem;
            margin: 0 0 5.8rem 0;
        }

    }

}