//
// tabs
//

nav.tabs {

     ul.tabs {
          padding: 0;
          border: 0;
          border-bottom: 1px solid $primary-color;
          margin: 0 0 30px 0;

          &:after {
               content: ".";
               display: block;
               height: 0;
               clear: both;
               visibility: hidden;
          }
     
          li {
               float: left;
               display: block;
               border: 0;
               margin: 0 6px 0 0;
               padding: 0;

               a {
                    float: left;
                    display: block;
                    border: 0;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    background: $gray-5;
                    margin: 0;
                    padding: 10px 20px;
               }
               &.is-active a {
                    background-color: $primary-color;
                    border: 0;
                    color: $white;
               }
               &.is-active a:hover {
                    background-color: $primary-color;
               }
          
          }

     }

     @media (max-width: $screen-md-max) {

          ul.tabs {

               li {

                    a {
                         padding: 10px 10px;
                         font-size: 1.6rem;
                    }

               }

          }
          
     }

}
