//
// view
//

.view {

    .view-content {

        // table
        .views-table {
            width: 100%;
        }

        // row
        .views-row {
            margin-bottom: 6rem;
        }

    }

    .more-link {
        text-align: left;
        border-top: 1px solid #EEEEEE;
        margin-top: 1rem;
        padding-top: 1.5rem;
    }

}
