//
// table
//

table {
     margin-bottom: 1.5rem;
     margin-top: 1.5rem;
     border-collapse: collapse;
     border-right: 0;
     border-bottom: 0;
     border-left: 1px solid $gray-2;
     border-top: 1px solid $gray-2;
}
caption {
     padding: 10px 15px;
     border-right: 1px solid $gray-2;
     border-bottom: 0;
     border-left: 1px solid $gray-2;
     border-top: 1px solid $gray-2;
     text-align: left;
     font-weight: bold;
}
th {
     padding: 10px 15px;
     background: $gray-4;
     border-right: 1px solid $gray-2;
     border-bottom: 1px solid $gray-2;
     border-left: 0;
     border-top: 0;  
     font-weight: bold;
     text-align: left;
}
td {
     padding: 10px 15px;
     border-right: 1px solid $gray-2;
     border-bottom: 1px solid $gray-2;
     border-left: 0;
     border-top: 0;  
}