//
// title
//

h1 {
     margin: 0;
     padding: 0;
     font-size: 6rem;
     font-weight: 600;
     line-height: 1.1;

     @media (max-width: $screen-sm-max) {

          & {
               font-size: 3.5rem;
          }          

     }
     
}

h2 {
     padding: 1.6rem 0 0 0;
     margin: 0 0 0.8rem 0;
     font-size: 2.6rem;
     font-weight: bold;
     line-height: 1.1;
     color: $primary-color;

     @media (max-width: $screen-sm-max) {

          & {
               font-size: 2.8rem;
          }          

     }     

}

h3 {
     padding: 1.6rem 0 0 0;
     margin: 0 0 0.8rem 0;
     font-weight: bold;
     font-size: 2.5rem;
     line-height: 1.1;
     color: $black;        
}
h4 {
     padding: 1.6rem 0 0 0;
     margin: 0 0 0.8rem 0;
     font-weight: bold;
     font-size: 2.0rem;
     line-height: 1.1;
     color: $black;        
}
h5 {
     padding: 1.6rem 0 0 0;
     margin: 0 0 0.8rem 0;
     font-weight: bold;
     font-size: 1.8rem;
     line-height: 1.1;
     color: $black;        
}
h6 {
     padding: 1.6rem 0 0 0;
     margin: 0 0 0.8rem 0;
     font-weight: bold;
     font-size: 1.6rem;
     line-height: 1.1;
}
