//
// copyright
//

#copyright {
    background: $gray-3;
    color: $gray-6;
    text-align: center;

    // block
    .block {
        margin: 0;
        color: $gray-6;
        font-size: 1.4rem;

        & > h2 {
            display: none;
        }

        p, span {
            line-height: 1.5;
            margin: 0;
            display: inline-block;

            a {

                color: $primary-color;

                &:hover {
                    color: #DDDDDD;                    
                }

            }

        }

    }

    @media (max-width: $screen-sm-max) {

        padding: 0 0 6rem 0;

        .block {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

        }

    }

    @media (min-width: $screen-md-min) {
        
        padding: 3rem 0 6rem 0;

        .region {
            display: flex;
            justify-content: center;
            border-top: 1px solid #353535;
            padding-top: 3rem;

            .block {
                margin-right: 30px;
                padding-right: 30px;
                border-right: 1px solid #DDDDDD;

                &:last-child {
                    margin-right: 0px;
                    padding-right: 0px;
                    border: 0;
                }

            }
    
        }

    }
    
}     
