// 
// PAGER
// 

#pager {
    margin-bottom: 2rem;

    .block {

        & > h2 {
            display: none;
        }

        .view {

            .view-content {
                display: block;
                margin: 0;
                padding: 0;

                ul {
                    display: flex;

                    li {
                        display: inline;

                        &.entity-pager-item-prev {
                            order: 1;    
                            flex: 1;
                            text-align: left;
                        }
                        &.entity-pager-item-count {
                            order: 2;    
                            flex: 1;
                            text-align: center;
                        }
                        &.entity-pager-item-next {
                            order: 3;    
                            flex: 1;
                            text-align: right;
                        }

                    }
        
                }
        
            }

        }

    }

}