//
// section2
//

#section2 {
    padding-bottom: 8rem;

    .region {

        .block {

            & > h2 {
                margin: 0 0 3rem 0;
                font-size: 3.2rem;
            }
            
        }

        @media (min-width: $screen-sm-min) {

            display: flex;
            margin: 0 -2rem;
    
            .block {
                flex: 1 1 0;
                margin: 0 2rem;
    
                .view {
    
                    .views-row {
                        margin-bottom: 2rem;
                        
                        .node {
                            display: block;
                            margin: 0;
        
                            .left {
                                margin: 0 0 1.5rem 0;
                            }
        
                            .right {
                                margin: 0;
                            }
        
                        }

                    }

                }
    
            }

        }

    }

}
