//
// COPYRIGHT - BLOCK -- menu
//

#copyright {

    .block-menu {

        ul.menu {

            li {
                line-height: 1.5;
                margin: 0;

                a {
                    color: #DDDDDD;
                    text-decoration: none;
                    font-size: 1.4rem;

                    &:hover {
                        color: $primary-color;
                    }
    
                }
        
            }

        }

        @media (max-width: $screen-sm-max) {

            ul.menu {

                li {
                    
                    a {
                        display: block;
                        text-align: center;
                        padding: 5px 0;
                    }
            
                }
    
            }
    
        }

        @media (min-width: $screen-md-min) {

            ul.menu {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin-right: 25px;

                    &:last-child {
                        margin-right: 0px;
                    }

                    a {
                        display: inline-block;
                    }
            
                }
    
            }
        
        }
        
    }

}
