//
// FOOTER - BLOCK -- menu
//

#footer {

    .block-menu {
        margin-bottom: 30px;

        ul.menu {

            li {
                
                a {
                    display: block;
                    padding: 9px 0 9px 0;
                    color:  $white;
                    text-decoration: none;
            
                    &:hover {
                        color: $primary-light-color;
                    }
    
                }
        
            }

        }

        @media (max-width: $screen-sm-max) {

            ul.menu {

                li {
                    
                    a {
                        padding: 12px 0;
                        text-align: center;
                    }
            
                }
    
            }
    
        }

        @media (min-width: $screen-md-min) {

            & {
                margin-bottom: 0px;
            }
        
        }
        
    }

}
