// 
// FOOTER -- block - branding
// 

#footer {

    .block-system-branding-block {

        .image {

            img {
                width: 100px;
                height: auto;
            }

        }

    }

} 